* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  display: flex;
  padding: 10px 0;
}

.search-form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}

.auth {
  margin-left: auto;
}

.login {
  background: #EBEBEB;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #F66A15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}

.shopping-counter {
  background: #FFAF19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.slide {
  border-radius: 20px; 
  min-height: 400px;
  display: flex;
  padding: 100px;
}

.slide-text-light {
  background-color: grey;
  color:white;
}

.slide-content {
  max-width: 400px;
}
.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button-default {
  background: #fff;
  color: black;
}

.button-primary {
  background: #f47322;
  color:white;
}

.button {
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.slide-summer {
  background-image: url('../img/summer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 50%;
}

.card-text-light {
  color: white;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.sweet-basket {
  background-image: url('../img/sweet.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.salad {
  background-image: url('../img/salad.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-week  {
  padding: 100px 0;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  width: 275px;
  height: 182px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 15px;
}

.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  padding: 5px 10px;
}

.tag-health {
  background-color: #D0FD89;
}

.tag-vegeteble {
  background-color: #AEBC41;
}

.tag-meat {
  background-color: #B86B78;
}

.tag-bird {
  background-color: #D68334;
}

.tag-fish {
  background-color: #CD6255;
}

.tag-kids {
  background-color: #FFFDBF;
}

.tag-parents {
  background-color: #F6FDC8;
}

.tag-fest {
  background-color: #FEF7FE;
}

.section-grey {
  background-color: #F6F6F6;
}

.category {
  padding-top: 40px;
  padding-bottom: 60px;
}

.tabs-content {
  display: flex;
  justify-content: space-between;
  margin: -15;
}
.tabs-card{
  border-radius: 20px;
  background-color: white;
  max-width: 270px;
  overflow: hidden;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 13px;
}

.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}

.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
  display: block;
  margin-bottom: 5px;
}

.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}

.button-outline {
  background-color: transparent;
  border: 2px solid #F37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F37321;
  padding: 15px 25px;
}

.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;
}

.tabs-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  margin-right: 58px;
}

.tabs-link.active {
  color: #F37321;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
  cursor: pointer;
}

.benefits-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.benefits-card {
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  width: 270px;
  min-height: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.benefits-img {
margin-top: 30px;
margin-bottom: 34px;
}

.benefits-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-bottom: 13px;
  margin-left: 40px;
  margin-right: 40px;
}
.benefits-description {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494F;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 25px;
}

.footer {
  padding: 40px 0;
  background-color: #f6f6f6;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 50px;
}

.footer-link {
  color: black;
  font-size: 16px;
  line-height: 23px;
  margin-right: 50px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}
